.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn{
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #424242;
}

.btn:hover{
  opacity: 0.8;
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.productContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.links{
  color: white;
  text-decoration: none;
}

.links-xs{
  color: black;
  text-decoration: none;
}

.cardImg{
  width: 100%;
  height: 250px;
}

.mainContainer{
  display: flex;
  justify-content: center;
}

.form{
  width: 50%;
  margin: 0% 0 5% 0;
  padding: 3% 7% 3% 7%;
  border: 1px solid #CED5D7;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #424242 inset;
  height: 100%;
}

.formFieldset{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10% 10% 10% 10%;
}

.formLabel{
  display: block;
}

.formContainer{
  margin-bottom: 5%;
  width: 100%;
}

.formItem{
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
